.sudoku-board-rectangle {
  align-items: center;
  justify-content: center;
  display: flex;

  border-radius: var(--sudoku-board-rectangle-border-radius);
  border: 1px solid var(--sudoku-board-rectangle-border-color);

  width: var(--sudoku-board-rectangle-size);
  height: var(--sudoku-board-rectangle-size);
  font-size: var(--sudoku-board-rectangle-font-size);

  background: var(--sudoku-board-rectangle-background-color);
}

.sudoku-board-rectangle.has-value {
  background-color: var(--sudoku-board-rectangle-has-value-background-color);
  color: var(--sudoku-board-rectangle-has-value-text-color);
}
